{% extends "../base.html" %}
{% block title %} Cozinha {% endblock %}
{% block main %}
<body>
    <h1>Kitchen Page</h1>
    <ul id="messageList"></ul>

    <script>
        const socketKitchen = new WebSocket('ws://127.0.0.1:8000/ws/kitchen/');
        
        socketKitchen.onopen = (event) => {
            console.log('WebSocket connection opened:', event);
        };

        socketKitchen.onmessage = (event) => {
            const message = JSON.parse(event.data);
            console.log('WebSocket message received:', message);
            displayMessage(message.message);
        };

        socketKitchen.onerror = (error) => {
            console.log('WebSocket error:', error);
        };

        socketKitchen.onclose = (event) => {
            console.log('WebSocket connection closed:', event);
        };

        function displayMessage(message) {
            const messageList = document.getElementById('messageList');
            const listItem = document.createElement('li');
            listItem.textContent = message;
            messageList.appendChild(listItem);
        }
    </script>
</body>
{% endblock %}
