{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body class="overflow-hidden select-none">
    <main class="text-browniest m-0 p-4 bg-slate-100 relative overscroll-none">
        <div class="h-screen">
            <div class="h-1/2 flex justify-center items-end pb-16">
                <h1 class="text-5xl lg:text-6xl lg:font-extrabold font-bold text-center">Izzy Table</h1>
            </div>
            <div class="h-1/2 flex flex-col justify-start items-center">
                <a href="login/"
                    class="flex justify-center items-center w-1/2 md:w-1/3 lg:w-1/4 h-14 border-b-3 border-l-3 shadow-xl border-browniest-dark bg-browniest text-white font-bold mb-2 rounded hover:bg-browniest-light hover:font-extrabold cursor-pointer"
                >
                    Entrar
                </a>
                <a href="cadastro/"
                    class="flex justify-center items-center w-1/2 md:w-1/3 lg:w-1/4 h-14 border-b-3 border-l-3 shadow-xl border-browniest-dark bg-browniest text-white font-bold my-1 rounded hover:bg-browniest-light hover:font-extrabold cursor-pointer"
                >
                    Cadastrar
                </a>
                <a href="convidado/"
                    aria-disabled="true"
                    title="Em construção!!!"
                    class="disabled pointer-events-none opacity-50 flex justify-center items-center w-1/2 md:w-1/3 lg:w-1/4 h-14 border-b-3 border-l-3 shadow-xl border-browniest-dark bg-browniest text-white font-bold mt-2 rounded hover:bg-browniest-light hover:font-extrabold cursor-pointer"
                >
                    Convidado
                </a>
            </div>
        </div>
    </main>
    <div class="absolute bottom-2 w-screen">
        <span class="text-sm lg:text-base flex justify-center text-browniest">
            &copy; 2024 Izzy Table. Todos os direitos reservados.
        </span>
    </div>
</body>
</html>